@use "../utils" as *;

.copyright {
    background-color: inherit;
}
.footer {
    color: #fff;
    padding-top: 5rem;
    padding-bottom: 5rem;    
    padding: 15px;
    background: $negro;
    position: absolute;
    width: 100%;
}
.footer .container,
.footer .container-fluid {
    display: flex;
    align-items: center;
}
