* {
    box-sizing: border-box;
}

::-webkit-scrollbar-track {
    border-radius: 1px;
    background-color: #eee;
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #000d55;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #1469b6;
    border-radius: 10px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    inset: 0;
    z-index: 9999;
    overflow: hidden;
    background-color: #ffffff;
    transition: all 0.6s ease-out;
    width: 100%;
    height: 100vh;
}

#preloader:before,
#preloader:after {
    content: "";
    position: absolute;
    border: 4px solid #1469b6;
    border-radius: 50%;
    animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#preloader:after {
    animation-delay: -0.5s;
}
.fade-out {
    -webkit-animation: fade-out 1s ease-out 0.5s both;
    animation: fade-out 1s ease-out 0.5s both;    
}
/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes animate-preloader {
    0% {
        width: 10px;
        height: 10px;
        top: calc(50% - 5px);
        left: calc(50% - 5px);
        opacity: 1;
    }

    100% {
        width: 72px;
        height: 72px;
        top: calc(50% - 36px);
        left: calc(50% - 36px);
        opacity: 0;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    overflow: hidden;
    padding: 3em;
}

h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 20px;
    border: 1px solid #1469b6;
    background-color: #1469b6;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #ffffff;
    transition: 0.3s ease-in-out;
}

button.ghost:hover {
    background-color: #ffffff;
    color: #333;
}

form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: min-content;
    text-align: center;
    margin: 1em;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

/*Check Button*/
.input-checkbox {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 1em;
    align-items: center;
}

.checkbox {
    --border-default: #bbbbc1;
    --border-hover: #9898a3;
    --active: #1469b6;
    --active-tick: #fff;
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

.checkbox svg {
    display: block;
    position: absolute;
}

.checkbox input {
    display: block;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 36% / 36%;
    box-shadow: inset 0 0 0 1.5px var(--border, var(--border-default));
    background: var(--background, transparent);
    transition: background 0.25s linear, box-shadow 0.25s linear;
}

.checkbox input + svg {
    width: 21px;
    height: 18px;
    left: 0;
    top: 0;
    color: #fff;
}

.checkbox input + svg .tick {
    stroke-dasharray: 20;
    stroke-dashoffset: var(--stroke-dashoffset, 20);
    transition: stroke-dashoffset 0.2s;
}

.checkbox input + svg .tick.mask {
    stroke: var(--active-tick);
}

.checkbox input + svg + svg {
    width: 11px;
    height: 11px;
    fill: none;
    stroke: var(--active);
    stroke-width: 1.25;
    stroke-linecap: round;
    top: -6px;
    right: -10px;
    stroke-dasharray: 4.5px;
    stroke-dashoffset: 13.5px;
    pointer-events: none;
    animation: var(--animation, none) 0.2s ease 0.175s;
}

.checkbox input:checked {
    --background: var(--active);
    --border: var(--active);
}

.checkbox input:checked + svg {
    --stroke-dashoffset: 0;
}

.checkbox input:checked + svg + svg {
    --animation: check;
}

.checkbox:hover input:not(:checked) {
    --border: var(--border-hover);
}

@keyframes check {
    100% {
        stroke-dashoffset: 4.5px;
    }
}

/*PASSWORD VALIDATOR*/
.password-group {
    position: relative;
    width: 100%;
}

.password-validator {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translate(0, 0);
    background-color: #bfbfbf;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px 0 gray;
    width: auto;
}

.password-validator.up {
    top: 5rem;
}

.password-validator.down {
    top: -12rem;
}

.password-validator.down::before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: 100%;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 10px solid #bfbfbf;
    transition-duration: 0.3s;
    transition-property: transform;
}

.password-validator.up::after {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #bfbfbf transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.check-password:focus + .password-validator {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.password-validator p {
    color: #333;
    font-size: 1.3rem;
    margin: 0;
}

.password-validator .requirement-list {
    margin-top: 20px;
}

.requirement-list li {
    font-size: 1.3rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.requirement-list li i {
    width: 20px;
    color: red;
    font-size: 0.6rem;
}

.requirement-list li.valid i {
    font-size: 1.2rem;
    color: #1469b6;
}

.requirement-list li span {
    margin-left: 12px;
    color: red;
}

.requirement-list li.valid span {
    color: #1469b6;
}

/*End Password validator*/
.bg-authenticate {
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    filter: blur(3px);
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: -webkit-fill-available;
}

.terms {
    color: #1469b6;
}

.remember {
    color: #ddd;
}

.error {
    color: red;
    font-size: 0.8em;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    overflow: overlay;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background-color: #1469b6;
    background-image: linear-gradient(
        225deg,
        #1469b6 0%,
        #116688 35%,
        #000d55 100%
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.overlay-panel .nav-link {
    position: absolute;
    width: 2em;
    filter: invert(1);
    top: 0;
    right: 5px;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    transition: 0.3s ease-in-out;
}

.social-container a:hover {
    background-color: #1469b6;
    color: #ffffff;
}

/*ICON SECTION*/
/*!
 * Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 * Copyright 2024 Fonticons, Inc.
 */
.fa {
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
}

.fa-solid,
.fa-regular,
.fa-brands,
.fas,
.far,
.fab,
.fa-sharp-solid,
.fa-classic,
.fa {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.fas,
.fa-classic,
.fa-solid,
.far,
.fa-regular {
    font-family: "Font Awesome 6 Free";
}

.fab,
.fa-brands {
    font-family: "Font Awesome 6 Brands";
}

.fas,
.fa-solid {
    font-weight: 900;
}

.fab,
.fa-brands {
    font-weight: 400;
}

.far,
.fa-regular {
    font-weight: 400;
}

.fa-facebook-f:before {
    content: "\f39e";
}

.fa-google-plus-g:before {
    content: "\f0d5";
}

.fa-github:before {
    content: "\f09b";
}

.fa-arrow-right-to-bracket::before {
    content: "\f090";
}

.fa-user-plus::before {
    content: "\f234";
}

.fa-xmark::before {
    content: "\f00d";
}
.fa-check:before {
    content: "\f00c";
}

@font-face {
    font-family: "Font Awesome 6 Brands";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/fontawesome-6/fa-brands-400.woff2") format("woff2"),
        url("../fonts/fontawesome-6/fa-brands-400.ttf") format("truetype");
}

@font-face {
    font-family: "Font Awesome 6 Free";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/fontawesome-6/fa-regular-400.woff2") format("woff2"),
        url("../fonts/fontawesome-6/fa-regular-400.ttf") format("truetype");
}

@font-face {
    font-family: "Font Awesome 6 Free";
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("../fonts/fontawesome-6/fa-solid-900.woff2") format("woff2"),
        url("../fonts/fontawesome-6/fa-solid-900.ttf") format("truetype");
}

@font-face {
    font-family: "Font Awesome 5 Brands";
    font-display: block;
    font-weight: 400;
    src: url("../fonts/fontawesome-6/fa-brands-400.woff2") format("woff2"),
        url("../fonts/fontawesome-6/fa-brands-400.ttf") format("truetype");
}

@font-face {
    font-family: "Font Awesome 5 Free";
    font-display: block;
    font-weight: 900;
    src: url("../fonts/fontawesome-6/fa-solid-900.woff2") format("woff2"),
        url("../fonts/fontawesome-6/fa-solid-900.ttf") format("truetype");
}

@font-face {
    font-family: "Font Awesome 5 Free";
    font-display: block;
    font-weight: 400;
    src: url("../fonts/fontawesome-6/fa-regular-400.woff2") format("woff2"),
        url("../fonts/fontawesome-6/fa-regular-400.ttf") format("truetype");
}

@font-face {
    font-family: "FontAwesome";
    font-display: block;
    src: url("../fonts/fontawesome-6/fa-solid-900.woff2") format("woff2"),
        url("../fonts/fontawesome-6/fa-solid-900.ttf") format("truetype");
}

@font-face {
    font-family: "FontAwesome";
    font-display: block;
    src: url("../fonts/fontawesome-6/fa-brands-400.woff2") format("woff2"),
        url("../fonts/fontawesome-6/fa-brands-400.ttf") format("truetype");
}

@font-face {
    font-family: "FontAwesome";
    font-display: block;
    src: url("../fonts/fontawesome-6/fa-regular-400.woff2") format("woff2"),
        url("../fonts/fontawesome-6/fa-regular-400.ttf") format("truetype");
    unicode-range: U+F003, U+F006, U+F014, U+F016-F017, U+F01A-F01B, U+F01D,
        U+F022, U+F03E, U+F044, U+F046, U+F05C-F05D, U+F06E, U+F070, U+F087-F088,
        U+F08A, U+F094, U+F096-F097, U+F09D, U+F0A0, U+F0A2, U+F0A4-F0A7, U+F0C5,
        U+F0C7, U+F0E5-F0E6, U+F0EB, U+F0F6-F0F8, U+F10C, U+F114-F115,
        U+F118-F11A, U+F11C-F11D, U+F133, U+F147, U+F14E, U+F150-F152,
        U+F185-F186, U+F18E, U+F190-F192, U+F196, U+F1C1-F1C9, U+F1D9, U+F1DB,
        U+F1E3, U+F1EA, U+F1F7, U+F1F9, U+F20A, U+F247-F248, U+F24A, U+F24D,
        U+F255-F25B, U+F25D, U+F271-F274, U+F278, U+F27B, U+F28C, U+F28E, U+F29C,
        U+F2B5, U+F2B7, U+F2BA, U+F2BC, U+F2BE, U+F2C0-F2C1, U+F2C3, U+F2D0,
        U+F2D2, U+F2D4, U+F2DC;
}

@font-face {
    font-family: "FontAwesome";
    font-display: block;
    src: url("../fonts/fontawesome-6/fa-v4compatibility.woff2") format("woff2"),
        url("../fonts/fontawesome-6/fa-v4compatibility.ttf") format("truetype");
    unicode-range: U+F041, U+F047, U+F065-F066, U+F07D-F07E, U+F080, U+F08B,
        U+F08E, U+F090, U+F09A, U+F0AC, U+F0AE, U+F0B2, U+F0D0, U+F0D6, U+F0E4,
        U+F0EC, U+F10A-F10B, U+F123, U+F13E, U+F148-F149, U+F14C, U+F156, U+F15E,
        U+F160-F161, U+F163, U+F175-F178, U+F195, U+F1F8, U+F219, U+F27A;
}
