/*    sidebar minimized   */
@media screen and (min-width: 992px) {
    .sidebar_minimize .main-panel,
    .sidebar_minimize .main-header {
        width: calc(100% - 75px);
        transition: all 0.3s;
    }
    .sidebar_minimize .logo-header {
        width: 75px;
        transition: all 0.3s;
        padding: 0px;
        text-align: center;
    }
    .sidebar_minimize .logo-header .big-logo {
        margin-right: 0px;
    }
    .sidebar_minimize .logo-header .logo {
        position: absolute;
        transform: translate3d(25px, 0, 0);
        opacity: 0;
    }
    .sidebar_minimize .logo-header .logo img {
        display: none;
    }
    .sidebar_minimize .logo-header .nav-toggle {
        position: absolute;
        left: 50% !important;
        transform: translateX(-50%);
        height: 100%;
        right: 0 !important;
    }
    .sidebar_minimize .sidebar {
        width: 75px;
        transition: all 0.3s;
    }
    .sidebar_minimize .sidebar .sidebar-wrapper {
        width: 75px;
        transition: all 0.3s;
    }
    .sidebar_minimize .sidebar .sidebar-wrapper .user {
        padding-left: 0px;
        padding-right: 0px;
    }
    .sidebar_minimize .sidebar .sidebar-wrapper .user [class^="avatar-"] {
        float: none !important;
    }
    .sidebar_minimize .sidebar .sidebar-wrapper .user .info {
        display: none;
    }
    .sidebar_minimize .sidebar .sidebar-wrapper .user .info span {
        display: none;
    }
    .sidebar_minimize .sidebar .sidebar-wrapper .nav-item {
        position: relative;
    }
    .sidebar_minimize .sidebar .sidebar-wrapper .nav-item a .letter-icon {
        display: block !important;
    }
    .sidebar_minimize .sidebar .sidebar-wrapper .nav-item a i {
        margin-right: unset;
    }
    .sidebar_minimize .sidebar .sidebar-wrapper .nav-item a .badge,
    .sidebar_minimize .sidebar .sidebar-wrapper .nav-item a span,
    .sidebar_minimize .sidebar .sidebar-wrapper .nav-item a .caret,
    .sidebar_minimize .sidebar .sidebar-wrapper .nav-item a p {
        display: none;
        transition: all 0.3s;
    }
    .sidebar_minimize .sidebar .sidebar-wrapper .nav-item a .sidebar-mini-icon {
        display: block !important;
        margin-right: 0px;
    }
    .sidebar_minimize .sidebar .sidebar-wrapper .nav-item.submenu .nav-collapse,
    .sidebar_minimize .sidebar .sidebar-wrapper .nav-item.active .nav-collapse {
        display: none;
    }
    .sidebar_minimize .sidebar .sidebar-wrapper .nav-section .text-section {
        display: none;
    }
    .sidebar_minimize
        .sidebar
        .sidebar-wrapper
        .nav-section
        .sidebar-mini-icon {
        display: block;
    }
    .sidebar_minimize .sidebar .user-profile .user-name,
    .sidebar_minimize .sidebar .user-profile .user-level {
        display: none;
    }
    .sidebar_minimize .sidebar .user-profile .avatar {
        display: none;
    }
    .sidebar_minimize .sidebar .user-profile .avatar.avatar-minimize {
        display: block !important;
    }
    .sidebar_minimize .sidebar .menubars {
        display: none;
    }
    .sidebar_minimize.sidebar_minimize_hover .sidebar {
        width: 265px;
        position: fixed;
        height: 100vh;
        top: 0;
    }
    .sidebar_minimize.sidebar_minimize_hover .sidebar .logo-header {
        width: 265px;
        padding-left: 25px;
        padding-right: 25px;
        text-align: left;
    }
    .sidebar_minimize.sidebar_minimize_hover .sidebar .logo-header .logo {
        opacity: 1 !important;
        transform: translate3d(0, 0, 0) !important;
        position: relative !important;
    }
    .sidebar_minimize.sidebar_minimize_hover .sidebar .logo-header .logo img {
        display: inline-block !important;
    }
    .sidebar_minimize.sidebar_minimize_hover .sidebar .logo-header .nav-toggle {
        right: 18px !important;
        transform: translateX(0%) !important;
        left: unset !important;
    }
    .sidebar_minimize.sidebar_minimize_hover .sidebar .sidebar-wrapper {
        width: 265px;
    }
    .sidebar_minimize.sidebar_minimize_hover .sidebar .sidebar-wrapper .user {
        padding-left: 15px;
        padding-right: 15px;
    }
    .sidebar_minimize.sidebar_minimize_hover
        .sidebar
        .sidebar-wrapper
        .user
        [class^="avatar-"] {
        float: left !important;
    }
    .sidebar_minimize.sidebar_minimize_hover
        .sidebar
        .sidebar-wrapper
        .user
        .info {
        display: block;
    }
    .sidebar_minimize.sidebar_minimize_hover
        .sidebar
        .sidebar-wrapper
        .user
        .info
        span {
        display: flex;
    }
    .sidebar_minimize.sidebar_minimize_hover
        .sidebar
        .sidebar-wrapper
        .nav-item
        a
        i {
        margin-right: 15px;
    }
    .sidebar_minimize.sidebar_minimize_hover
        .sidebar
        .sidebar-wrapper
        .nav-item
        a
        .badge,
    .sidebar_minimize.sidebar_minimize_hover
        .sidebar
        .sidebar-wrapper
        .nav-item
        a
        span,
    .sidebar_minimize.sidebar_minimize_hover
        .sidebar
        .sidebar-wrapper
        .nav-item
        a
        .caret,
    .sidebar_minimize.sidebar_minimize_hover
        .sidebar
        .sidebar-wrapper
        .nav-item
        a
        p {
        display: block;
    }
    .sidebar_minimize.sidebar_minimize_hover
        .sidebar
        .sidebar-wrapper
        .nav-item
        a
        .sidebar-mini-icon {
        display: block !important;
        margin-right: 15px;
    }
    .sidebar_minimize.sidebar_minimize_hover
        .sidebar
        .sidebar-wrapper
        .nav-item.submenu
        .nav-collapse,
    .sidebar_minimize.sidebar_minimize_hover
        .sidebar
        .sidebar-wrapper
        .nav-item.active
        .nav-collapse {
        display: block;
    }
    .sidebar_minimize.sidebar_minimize_hover
        .sidebar
        .sidebar-wrapper
        .nav-section
        .sidebar-mini-icon {
        display: none;
    }
    .sidebar_minimize.sidebar_minimize_hover
        .sidebar
        .sidebar-wrapper
        .nav-section
        .text-section {
        display: block;
    }
    .sidebar_minimize.sidebar_minimize_hover .sidebar .user-profile .user-name,
    .sidebar_minimize.sidebar_minimize_hover
        .sidebar
        .user-profile
        .user-level {
        display: block;
    }
    .sidebar_minimize.sidebar_minimize_hover .sidebar .user-profile .avatar {
        display: block;
    }
    .sidebar_minimize.sidebar_minimize_hover
        .sidebar
        .user-profile
        .avatar.avatar-minimize {
        display: none !important;
    }
    .sidebar_minimize.sidebar_minimize_hover .sidebar .menubars {
        display: flex;
    }
}