.navbar-header[data-background-color="white"] {
    background: #ffffff !important;
}

.navbar-header[data-background-color="dark"] {
    background: #1a2035 !important;
}

.navbar-header[data-background-color="dark2"] {
    background: #151a2b !important;
}
.navbar-header[data-background-color="blue"] {
    background: #1572e8 !important;
}

.navbar-header[data-background-color="blue2"] {
    background: #1269db !important;
}
.navbar-header[data-background-color="purple"] {
    background: #6861ce !important;
}

.navbar-header[data-background-color="purple2"] {
    background: #5c55bf !important;
}

.navbar-header[data-background-color="light-blue"] {
    background: #48abf7 !important;
}

.navbar-header[data-background-color="light-blue2"] {
    background: #3697e1 !important;
}

.navbar-header[data-background-color="green"] {
    background: #31ce36 !important;
}

.navbar-header[data-background-color="green2"] {
    background: #2bb930 !important;
}

.navbar-header[data-background-color="orange"] {
    background: #ffad46 !important;
}

.navbar-header[data-background-color="orange2"] {
    background: #ff9e27 !important;
}


.navbar-header[data-background-color="red"] {
    background: #f25961 !important;
}

.navbar-header[data-background-color="red2"] {
    background: #ea4d56 !important;
}
