@-webkit-keyframes bubble-pulse {
	0% {
		transform: scale(1);
		opacity: .75;
	}
	25% {
		transform: scale(1);
		opacity: .75;
	}
	100% {
		transform: scale(2.5);
		opacity: 0;
	}
}
@keyframes bubble-pulse {
	0% {
		transform: scale(1);
		opacity: .75;
	}
	25% {
		transform: scale(1);
		opacity: .75;
	}
	100% {
		transform: scale(2.5);
		opacity: 0;
	}
}
@-moz-keyframes bubble-pulse {
	0% {
		transform: scale(1);
		opacity: .75;
	}
	25% {
		transform: scale(1);
		opacity: .75;
	}
	100% {
		transform: scale(2.5);
		opacity: 0;
	}
}
@-o-keyframes bubble-pulse {
	0% {
		transform: scale(1);
		opacity: .75;
	}
	25% {
		transform: scale(1);
		opacity: .75;
	}
	100% {
		transform: scale(2.5);
		opacity: 0;
	}
}