@use "../../utils"  as *;

.jqstooltip {
    box-sizing: content-box;
}

/*     Alert    */
.alert {
    border: 0px;
    position: relative;
    padding: 0.95rem 1.25rem;
    border-radius: 1px;
    color: inherit;
    background-color: #ffffff;
    -webkit-box-shadow: 1px 1px 14px 0px rgba(18, 38, 63, 0.26);
    -moz-box-shadow: 1px 1px 14px 0px rgba(18, 38, 63, 0.26);
    box-shadow: 1px 1px 14px 0px rgba(18, 38, 63, 0.26);
}
.alert [data-notify="icon"] {
    display: block;
}
.alert [data-notify="icon"]::before {
    line-height: 35px;
    font-size: 22px;
    display: block;
    left: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 30px;
    text-align: center;
    color: #fff;
}
.alert [data-notify="title"] {
    display: block;
    color: #2b2b2b;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 5px;
}
.alert [data-notify="message"] {
    font-size: 13px;
    color: #908e8e;
}
.alert .close {
    background: rgba(255, 255, 255, 0.8);
    width: 25px;
    height: 25px;
    line-height: 25px;
    top: 12px !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*    Alert States    */
.alert-black {
    border-left: 4px solid #1a2035;
}
.alert-black [data-notify="icon"]:before {
    background: #1a2035;
}

.alert-primary {
    border-left: 4px solid #1572e8;
}
.alert-primary [data-notify="icon"]:before {
    background: #1572e8;
}

.alert-secondary {
    border-left: 4px solid #6861ce;
}
.alert-secondary [data-notify="icon"]:before {
    background: #6861ce;
}

.alert-info {
    border-left: 4px solid #48abf7;
}
.alert-info [data-notify="icon"]:before {
    background: #48abf7;
}

.alert-success {
    border-left: 4px solid #31ce36;
}
.alert-success [data-notify="icon"]:before {
    background: #31ce36;
}

.alert-warning {
    border-left: 4px solid #ffad46;
}
.alert-warning [data-notify="icon"]:before {
    background: #ffad46;
}

.alert-danger {
    border-left: 4px solid #f25961;
}
.alert-danger [data-notify="icon"]:before {
    background: #f25961;
}

/*     	Progress     */
.progress {
    border-radius: 100px;
    height: 14px; }
    .progress .progress-bar {
      border-radius: 100px; }
    .progress.progress-sm {
      height: 8px; }
    .progress.progress-lg {
      height: 20px; }
  